  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  .left-column {
    background-color: #d1d1d1; /* 회색 배경색 */
    width: 300px; /* 왼쪽 열의 너비 조정, 필요에 따라 수정 */
    font-weight: bold; /* 굵은 글씨 */
    font-size: 16px; /* 글씨 크기 조정 */
  }

  .right-column {
    width: 900px; /* 왼쪽 열의 너비 조정, 필요에 따라 수정 */
    font-size: 16px; /* 글씨 크기 조정 */
  }
